[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/gundo.vim"]
	path = home/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/Kris2k/matchit.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/nose.vim"]
	path = home/.vim/bundle/nose.vim
	url = https://github.com/vim-scripts/nose.vim.git
[submodule "home/.vim/bundle/vim-puppet"]
	path = home/.vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/rainbow_parentheses.vim"]
	path = home/.vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/taglist.vim"]
	path = home/.vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/YankRing.vim"]
	path = home/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/jk-jumps"]
	path = home/.vim/bundle/jk-jumps
	url = https://github.com/teranex/jk-jumps.vim.git
[submodule "home/.vim/bundle/closetag.vim"]
	path = home/.vim/bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-autocomplpop"]
	path = home/.vim/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop.git
[submodule "home/.vim/bundle/vim-jinja"]
	path = home/.vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "home/.vim/bundle/vim-dispatch"]
	path = home/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle/vim-scaladoc"]
	path = home/.vim/bundle/vim-scaladoc
	url = https://github.com/sjl/vim-scaladoc.git
[submodule "home/.vim/bundle/vim-scala"]
	path = home/.vim/bundle/vim-scala
	url = https://github.com/sjl/vim-scala.git
[submodule "home/.vim/bundle/vim-pentadactyl"]
	path = home/.vim/bundle/vim-pentadactyl
	url = https://github.com/dogrover/vim-pentadactyl.git
[submodule "home/.vim/bundle/vim-nodejs-complete"]
	path = home/.vim/bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/molokai"]
	path = home/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "home/.vim/bundle/vim-abolish"]
	path = home/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "home/.vim/bundle/vim-pasta"]
	path = home/.vim/bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "home/.vim/bundle/vim-vinegar"]
	path = home/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "home/opt/bcvi"]
	path = home/opt/bcvi
	url = https://github.com/grantm/bcvi.git
[submodule "home/.vim/bundle/titanium-vim"]
	path = home/.vim/bundle/titanium-vim
	url = https://github.com/pekepeke/titanium-vim.git
[submodule "home/.vim/bundle/vitality.vim"]
	path = home/.vim/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim.git
[submodule "home/.vim/bundle/AnsiEsc.vim"]
	path = home/.vim/bundle/AnsiEsc.vim
	url = https://github.com/sjl/AnsiEsc.vim.git
[submodule "home/.vim/bundle/timl"]
	path = home/.vim/bundle/timl
	url = https://github.com/tpope/timl.git
[submodule "home/.vim/bundle/tslime2.vim"]
	path = home/.vim/bundle/tslime2.vim
	url = https://github.com/sjl/tslime2.vim.git
[submodule "home/.vim/bundle/Dockerfile.vim"]
	path = home/.vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-maven-plugin"]
	path = home/.vim/bundle/vim-maven-plugin
	url = https://github.com/sjl/vim-maven-plugin.git
[submodule "home/opt/dactyl"]
	path = home/opt/dactyl
	url = https://github.com/5digits/dactyl.git
[submodule "home/opt/z"]
	path = home/opt/z
	url = https://github.com/rupa/z.git
[submodule "home/opt/hhighlighter"]
	path = home/opt/hhighlighter
	url = https://github.com/paoloantinori/hhighlighter.git
[submodule "home/.vim/bundle/vim-jade"]
	path = home/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/opt/fonts"]
	path = home/opt/fonts
	url = https://github.com/powerline/fonts.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-mocha"]
	path = home/.vim/bundle/vim-mocha
	url = https://github.com/geekjuice/vim-mocha
[submodule "home/opt/PathPicker"]
	path = home/opt/PathPicker
	url = https://github.com/facebook/PathPicker.git
[submodule "home/opt/fabric-completion"]
	path = home/opt/fabric-completion
	url = https://github.com/underself/fabric-completion.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/typescript-vim"]
	path = home/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "home/.vim/bundle/vimproc.vim"]
	path = home/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "home/.vim/bundle/tsuquyomi"]
	path = home/.vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "home/opt/vagrant-bash-completion"]
	path = home/opt/vagrant-bash-completion
	url = https://github.com/kura/vagrant-bash-completion.git
[submodule "home/.vim/bundle/grunt.vim"]
	path = home/.vim/bundle/grunt.vim
	url = https://github.com/mklabs/grunt.vim.git
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = https://github.com/genoma/vim-less.git
[submodule "home/.vim/bundle/vim-erlang-omnicomplete"]
	path = home/.vim/bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "home/.vim/bundle/splice.vim"]
	path = home/.vim/bundle/splice.vim
	url = https://github.com/sjl/splice.vim.git
[submodule "home/.vim/bundle/tern_for_vim"]
	path = home/.vim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
