[submodule ".vim/bundle/vim-puppet"]
	path = .vim/pack/bundle/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/pack/bundle/start/rainbow_parentheses.vim
	url = git@github.com:iamFIREcracker/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/jk-jumps"]
	path = .vim/pack/bundle/start/jk-jumps
	url = https://github.com/teranex/jk-jumps.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/pack/bundle/start/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/bundle/start/ack.vim
	url = git@github.com:iamFIREcracker/ack.vim.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/pack/bundle/start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/vitality.vim"]
	path = .vim/pack/bundle/start/vitality.vim
	url = https://github.com/iamFIREcracker/vitality.vim.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/pack/bundle/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/pack/bundle/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/pack/bundle/start/vim-less
	url = https://github.com/genoma/vim-less.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-rest-console"]
	path = .vim/pack/bundle/start/vim-rest-console
	url = https://github.com/diepm/vim-rest-console.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/vim-argwrap"]
	path = .vim/pack/bundle/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule ".vim/bundle/neomake"]
	path = .vim/pack/bundle/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule ".vim/bundle/writegooder.vim"]
	path = .vim/pack/bundle/start/writegooder.vim
	url = https://github.com/JKirchartz/writegooder.vim.git
[submodule ".vim/bundle/commentary.vim"]
	path = .vim/pack/bundle/start/commentary.vim
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-javacomplete2"]
	path = .vim/pack/bundle/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule ".vim/pack/bundle/start/badwolf"]
	path = .vim/pack/bundle/start/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/pack/bundle/start/vim-projectionist"]
	path = .vim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/bundle/start/vim-js-indent"]
	path = .vim/pack/bundle/start/vim-js-indent
	url = https://github.com/gavocanov/vim-js-indent.git
[submodule ".vim/pack/bundle/start/async.vim"]
	path = .vim/pack/bundle/start/async.vim
	url = git@github.com:iamFIREcracker/async.vim.git
[submodule ".vim/pack/bundle/start/fugitive-gitlab.vim"]
	path = .vim/pack/bundle/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule ".vim/pack/bundle/start/vim-rhubarb"]
	path = .vim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/bundle/start/fzf"]
	path = .vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/bundle/start/vim-goobook"]
	path = .vim/pack/bundle/start/vim-goobook
	url = git@github.com:iamFIREcracker/vim-goobook.git
[submodule ".vim/pack/bundle/start/vim-lsp"]
	path = .vim/pack/bundle/start/vim-lsp
	url = git@github.com:iamFIREcracker/vim-lsp.git
[submodule ".vim/pack/bundle/start/vim-dadbod"]
	path = .vim/pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".tmux-plugins/tmux-external-pipe"]
	path = .tmux-plugins/tmux-externalpipe
	url = git@github.com:iamFIREcracker/tmux-externalpipe.git
[submodule ".vim/pack/iamFIREcracker/start/cb.vim"]
	path = .vim/pack/iamFIREcracker/start/cb.vim
	url = git@github.com:iamFIREcracker/cb.vim.git
[submodule ".vim/pack/bundle/start/vim-prettier.git"]
	path = .vim/pack/bundle/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/bundle/start/lightline.vim"]
	path = .vim/pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/bundle/start/editorconfig-vim"]
	path = .vim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/bundle/opt/fzf-ruby"]
	path = .vim/pack/bundle/opt/fzf-ruby
	url = https://github.com/me-and/fzf.git
[submodule ".vim/pack/bundle/start/neoformat"]
	path = .vim/pack/bundle/start/neoformat
	url = git@github.com:iamFIREcracker/neoformat.git
[submodule ".vim/pack/bundle/start/vim-sexp"]
	path = .vim/pack/bundle/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".vim/pack/bundle/start/vim-sexp-mappings-for-regular-people.git"]
	path = .vim/pack/bundle/start/vim-sexp-mappings-for-regular-people.git
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/pack/iamFIREcracker/start/vim-lispindent"]
	path = .vim/pack/iamFIREcracker/start/vim-lispindent
	url = git@github.com:iamFIREcracker/vim-lispindent.git
