.mutt/__pycache__
.mutt/cache/
.mutt/temp/
.ropeproject/
.vim/.netrwbook
.vim/.netrwhist
.newsboat/cache.db
.newsboat/history.search
.vim/tmp
.w3m/cookie
.w3m/history
.w3m/w3mcookie*
.w3m/w3mcache*
.w3m/w3msrc*
.w3m/w3mtmp*
tags*
.DS_Store
