[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/jk-jumps"]
	path = .vim/pack/bundle/start/jk-jumps
	url = https://github.com/teranex/jk-jumps.vim.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/pack/bundle/start/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/vitality.vim"]
	path = .vim/pack/bundle/start/vitality.vim
	url = https://github.com/iamFIREcracker/vitality.vim.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/pack/bundle/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = git@github.com:iamFIREcracker/vim-fugitive.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/pack/bundle/start/vim-less
	url = https://github.com/genoma/vim-less.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-rest-console"]
	path = .vim/pack/bundle/start/vim-rest-console
	url = https://github.com/diepm/vim-rest-console.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/targets.vim"]
	path = .vim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/vim-argwrap"]
	path = .vim/pack/bundle/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule ".vim/bundle/neomake"]
	path = .vim/pack/bundle/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule ".vim/bundle/writegooder.vim"]
	path = .vim/pack/bundle/start/writegooder.vim
	url = https://github.com/JKirchartz/writegooder.vim.git
[submodule ".vim/bundle/commentary.vim"]
	path = .vim/pack/bundle/start/commentary.vim
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-javacomplete2"]
	path = .vim/pack/bundle/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule ".vim/pack/bundle/start/badwolf"]
	path = .vim/pack/bundle/start/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule ".vim/pack/bundle/start/vim-projectionist"]
	path = .vim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/bundle/start/async.vim"]
	path = .vim/pack/bundle/start/async.vim
	url = git@github.com:iamFIREcracker/async.vim.git
[submodule ".vim/pack/bundle/start/fugitive-gitlab.vim"]
	path = .vim/pack/bundle/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim.git
[submodule ".vim/pack/bundle/start/vim-rhubarb"]
	path = .vim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/pack/bundle/start/vim-goobook"]
	path = .vim/pack/bundle/start/vim-goobook
	url = git@github.com:iamFIREcracker/vim-goobook.git
[submodule ".vim/pack/bundle/start/vim-lsp"]
	path = .vim/pack/bundle/start/vim-lsp
	url = git@github.com:iamFIREcracker/vim-lsp.git
[submodule ".vim/pack/bundle/start/vim-dadbod"]
	path = .vim/pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule ".tmux-plugins/tmux-external-pipe"]
	path = .tmux-plugins/tmux-externalpipe
	url = git@github.com:iamFIREcracker/tmux-externalpipe.git
[submodule ".vim/pack/iamFIREcracker/start/cb.vim"]
	path = .vim/pack/iamFIREcracker/opt/cb.vim
	url = git@github.com:iamFIREcracker/cb.vim.git
[submodule ".vim/pack/bundle/start/vim-prettier.git"]
	path = .vim/pack/bundle/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/bundle/start/editorconfig-vim"]
	path = .vim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/bundle/start/neoformat"]
	path = .vim/pack/bundle/start/neoformat
	url = git@github.com:iamFIREcracker/neoformat.git
[submodule ".vim/pack/bundle/start/vim-sexp"]
	path = .vim/pack/bundle/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
[submodule ".vim/pack/bundle/start/vim-sexp-mappings-for-regular-people.git"]
	path = .vim/pack/bundle/start/vim-sexp-mappings-for-regular-people.git
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/pack/bundle/start/NrrwRgn"]
	path = .vim/pack/bundle/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule ".vim/pack/bundle/start/vim-nix"]
	path = .vim/pack/bundle/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule ".vim/pack/bundle/start/vim-bruin"]
	path = .vim/pack/bundle/start/vim-bruin
	url = https://git.sr.ht/~romainl/vim-bruin
[submodule ".vim/pack/bundle/start/vim-rails"]
	path = .vim/pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/bundle/start/vim-ruby"]
	path = .vim/pack/bundle/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/bundle/start/vim-git"]
	path = .vim/pack/bundle/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/pack/bundle/start/vim-maximizer"]
	path = .vim/pack/bundle/start/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule ".vim/pack/bundle/start/vim-tmux-navigator"]
	path = .vim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/bundle/start/vim-tbone"]
	path = .vim/pack/bundle/start/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule ".vim/pack/bundle/start/vim-system-copy"]
	path = .vim/pack/bundle/start/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule ".vim/pack/bundle/start/vlime"]
	path = .vim/pack/bundle/start/vlime
	url = https://github.com/vlime/vlime.git
[submodule ".vim/pack/iamFIREcracker/start/hyperspec.vim"]
	path = .vim/pack/iamFIREcracker/start/hyperspec.vim
	url = git@github.com:iamFIREcracker/hyperspec.vim.git
[submodule ".vim/pack/iamFIREcracker/start/dwim.vim"]
	path = .vim/pack/iamFIREcracker/start/dwim.vim
	url = git@github.com:iamFIREcracker/dwim.vim.git
