.DS_STORE
.ropeproject
__pycache__

.config/karabiner/automatic_backups/
.mutt/cache/
.mutt/temp/
.newsboat/cache.db
.newsboat/history.search
.newsboat/history.cmdline
.vim/.netrwbook
.vim/.netrwhist
.vim/spell
.vim/tmp
.w3m/cookie
.w3m/history
.w3m/request.log
.w3m/w3mcache*
.w3m/w3mcookie*
.w3m/w3msrc*
.w3m/w3mtmp*

tags*
