# Enable bracketed-paste: https://cirw.in/blog/bracketed-paste
set enable-bracketed-paste on

# Enable vi editing mode
# set editing-mode vi
# Customize PS1 depending on mode (insert, command)
# $if Bash
#     set show-mode-in-prompt on
#     # set vi-ins-mode-string "\1\e[1;96m\2+\1\e[0m\2"
#     set vi-ins-mode-string "+"
#     set vi-cmd-mode-string ":"
# $endif

# Display matches for ambiguous patterns at first tab press
set show-all-if-ambiguous on
# Allows space to complete and expand !$ eg:
# $ ls Projects
# $ cd !$<space> # completes to `cd Projects`
# 2017-10-21: setting this somehow fucks up rlwrap, so I had to disable it
# Space:magic-space

# Invoke $EDITOR while inside a rlwrap'd command
$if sbcl
  "\C-x\C-e": rlwrap-call-editor
$endif
$if python
  "\C-x\C-e": rlwrap-call-editor
$endif
$if node
  "\C-x\C-e": rlwrap-call-editor
$endif

# Pipe last command to fpp with C-P
"\C-p": "!-1 | FPP_DISABLE_PREPENDING_HOME_WITH_SLASH=1 fpp\015"
# Pipe last command to cg with C-Enter -- my terminal generates ✠ on C-Enter
"✠": "!-1 | strip-escapes | cg | fexec\015"
# Resume suspended program with C-Z
"\C-z": "fg\015"

# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command
"gg": beginning-of-history
"G": end-of-history
"H": beginning-of-line
"L": end-of-line

set keymap vi-insert
"\C-l": clear-screen
