[user]
  name = Matteo Landi
  email = matteo@matteolandi.net

[core]
  pager = cat
  editor = vim
  excludesfile = ~/.gitignore_global

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
    default = current

[alias]
    tags = tag -l
    branches = branch -a
    remotes = remote -v

    st = status --short --ignore-submodules=untracked
    ci = commit -v
    cm = commit -v -m
    cmm = commit -v -a -m 'Merge'

    l  = log -18 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(blue bold)(by %an)%Creset'
    ll = log -36 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(blue bold)(by %an)%Creset'
    lll = log -72 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(blue bold)(by %an)%Creset'

    gl  = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(blue bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(blue bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'

    pu = !git pull && git submodule update --init --recursive
    p = push
    root = rev-parse --show-toplevel
    currentbranch = rev-parse --abbrev-ref HEAD

    d = !sh -c 'git diff $* | vim -R -' -
    di = !git diff --cached | vim -R -

    in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
    ind = !git fetch && git diff ..@{u}

    shelve = stash save --include-untracked
    unshelve = stash pop
    record = commit -v -p
    spu = submodule foreach 'git pull origin master || git pull origin origin'

    r = rebase -i

    unfuck-merge = reset --hard HEAD

    zip = archive -o latest.zip HEAD

[merge]
    tool = splice

[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
