[user]
name = Matteo Landi
email = matteo@matteolandi.net

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[push]
    default = current
[alias]
    st = status -s
    ci = commit -v
    cm = commit -v -a -m
    cp = commit -v -a -p
    l  = log -18 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    ll = log -36 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    lll = log -72 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    pu = pull
    pus = !git submodule foreach git pull
    p = push
    dl = !git diff -w $@ | vim -R -c 'set ft=diff' -
    in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
    shelve = stash save --include-untracked
    unshelve = stash pop
    record = commit -v -p $@
[core]
	excludesfile = ~/.gitignore_global
